// colors
$azuloscuro: #2d314d;
$verdelima: #31d35c;
$cyanbrillante: #2bb7da;
$azulgris: #9698a6;
$azulgris2:#f3f4f6;
$grisclaro: #fafafa;
$blanco:  #fff;

//font sizes
$font-med: 1.125rem; //18px
$font-sm: 0.875rem; //14px
$font-xlg: 3.25rem; //
$font-lg: 1.25rem;